<html lang="en">
  
<h1 style="margin-top:20px;">Editing Task</h1>
<div>
  <%= link_to 'Show Task', @task, :class => "btn btn-secondary  btn-sm", :style => "float-right", :role => 'button', :tabindex => '0' %>
</div>
<br>
<%= render 'form', task: @task %>

</html>
