<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= "Cadet #{@cadet.lastName}," %></p>
    <p>
        A new cadet has signed up for ROTSee. Login to approve their account.
    </p>
    <p>
        https://rotsee.herokuapp.com/
    </p>
  </body>
</html>