<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= "#{@cadet.firstName} #{@cadet.lastName}" %>!</p>
    <p>
        You have signed up for ROTSee.
    </p>
    <p>Username: <%= @cadet.username %></p>
  </body>
</html>