<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= "Cadet #{@cadet.lastName}" %>,</p>
    <p>
        You have been marked present for <%= @event.primaryType %> on <%= @event.eventDate %>.
    </p>
    <p>
        Visit https://rotsee.herokuapp.com/ for more details.
    </p>
  </body>
</html>