<html lang="en">

<head>
  <style>
    span{
      font-size: 24px;
    }
  </style>
</head>
<h2 class="display-4">Editing Event </h2>
<div>
  <%= link_to 'View Event Info', @event, :class => "btn btn-secondary btn-sm"%>
  <p>
    
  </p>
</div>

<%= render 'form', event: @event %>

  <p>
    <br>
  </p>

<%= render "back_to_top" %>

</html>