<head>
  <style>
    span{
      font-size: 24px;
    }
  </style>
</head>
<h2 class="display-4">Editing Event <span><%= link_to 'Show Event', @event %></span></h2>
<%= render 'form', event: @event %>

<!-- Back to Top Button -->
<button onclick="topFunction()" type="button" class="btn btn-dark">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
