<%= javascript_include_tag "sort_table" %>
<html lang="en">
<head>
  <style>
    body {
          background: url('') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
          background-color: #dbe6c1;
        }
  </style>
  
</head>

<body>
<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">About ROTSee</h1>
      <p class="lead">ROTSee is a personnel manager for ROTC members. Officers can create events, track attendance, and manage the roster, while every cadet can view their own attendance records and contact information for other cadets.</p>
      <% if !logged_in? %>
      
      <p class="lead">Interested in joining an ROTC program? Find out more about it <a href='https://www.afrotc.com'>here!</a></p>
      <% else %>
      <% end %>
      <div style="height: 700px"></div>
      <p class="lead mb-0"></p>
    </div>
  </div>
</div>

</body>
</html>