<html lang="en">

<head>
  <style>
    span {
      font-size: 24px;
    }
  </style>
</head>

<h2 class="display-4">Editing Cadet</h2>
<div>
  <%= link_to 'View Cadet Info', @cadet, :class => "btn btn-secondary  btn-sm", :style => "float-right", :role => 'button', :tabindex => '0' %>
</div>
<p style="margin-top: 20px;"></p>

<% if (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>
  <%= render 'adminupdateform', cadet: @cadet %>
<% else %>
  <%= render 'updateform', cadet: @cadet %>
<% end %>

</html>