<p id="notice"><%= notice %></p>

<div class="container">
    <!--img src="ROTSee.jpg" alt="Squares and Grunge 1" style="width:100%"></img-->
    <div class="centered">Welcome to ROTSee</div>
</div>

