<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, Cadet <%= @cadet.lastName %></h1>
    <p>
      A new post has been created on ROTSee
      for your flight: <%= @cadet.flight %>.<br>
    </p>
  </body>
</html>